/* =====================================
   ANDY'S BAR - PREMIUM RESTAURANT DESIGN
===================================== */


/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    background:#090909;
    color:#ffffff;

    font-family:'Inter', sans-serif;

    overflow-x:hidden;

}


a {

    text-decoration:none;
    color:white;

}



button {

    border:none;
    cursor:pointer;
    font-family:inherit;

}





/* =====================================
   LOADING SCREEN
===================================== */


.loader {

    position:fixed;

    height:100vh;
    width:100%;

    background:#090909;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    z-index:9999;

    animation:loaderHide 2.5s forwards;

}



.loader-logo {

    font-family:'Playfair Display';

    font-size:60px;

    color:#D4AF37;

    letter-spacing:5px;

    animation:logoPulse 1.5s infinite alternate;

}



.loader-line {

    margin-top:30px;

    width:200px;
    height:3px;

    background:#D4AF37;

    animation:loading 2s infinite;

}




@keyframes loaderHide {

    0%,80% {
        opacity:1;
    }


    100% {

        opacity:0;
        visibility:hidden;

    }

}



@keyframes logoPulse {

    from {
        transform:scale(1);
    }

    to {
        transform:scale(1.05);
    }

}



@keyframes loading {

    from {
        width:0;
    }

    to {
        width:200px;
    }

}





/* =====================================
   NAVBAR
===================================== */


.navbar {


    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);


    width:90%;


    padding:20px 40px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    background:rgba(0,0,0,.55);

    backdrop-filter:blur(15px);


    border:1px solid rgba(255,255,255,.1);


    border-radius:50px;


    z-index:1000;



}



.logo {


    font-family:'Playfair Display';

    font-size:26px;

    color:#D4AF37;

    font-weight:800;

}



nav {

    display:flex;

    gap:30px;

}



nav a {


    font-size:15px;

    color:#ddd;

    transition:.3s;

}



nav a:hover {


    color:#D4AF37;

}



.order-btn {


    background:#D4AF37;

    color:#000;

    padding:12px 25px;

    border-radius:30px;

    font-weight:700;

    transition:.3s;

}



.order-btn:hover {

    transform:translateY(-3px);

    box-shadow:0 10px 30px rgba(212,175,55,.5);

}







/* =====================================
   HERO
===================================== */


.hero {


    min-height:100vh;


    display:flex;

    justify-content:center;

    align-items:center;


    position:relative;


    background:

    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.9)
    ),

    url("../images/restaurant.jpg");


    background-size:cover;

    background-position:center;


}



.hero-content {


    text-align:center;

    max-width:900px;


    animation:heroEnter 1.5s ease;



}



.hero-small {


    color:#D4AF37;

    letter-spacing:4px;

    font-size:14px;

    margin-bottom:20px;


}



.hero h1 {


    font-family:'Playfair Display';

    font-size:100px;

    letter-spacing:8px;


}



.hero h2 {


    font-family:'Playfair Display';

    font-size:45px;

    margin:20px 0;


}



.hero-description {


    color:#ccc;

    font-size:20px;

    max-width:600px;

    margin:auto;

}



.hero-buttons {


    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:20px;


}



.primary-btn,
.secondary-btn {


    padding:16px 35px;

    border-radius:40px;

    transition:.4s;

}



.primary-btn {


    background:#D4AF37;

    color:#000;

}



.secondary-btn {

    border:1px solid #D4AF37;

}



.primary-btn:hover,
.secondary-btn:hover {

    transform:translateY(-5px);

}





@keyframes heroEnter {


from {

opacity:0;

transform:translateY(50px);

}


to {

opacity:1;

transform:translateY(0);

}


}









/* =====================================
   SECTION GENERAL
===================================== */


section {

    padding:100px 8%;

}



.section-title {


    text-align:center;

    margin-bottom:60px;


}



.section-title p,
.section-tag {


    color:#D4AF37;

    letter-spacing:4px;

}



.section-title h2 {


    font-family:'Playfair Display';

    font-size:50px;


}








/* =====================================
   SPECIALS
===================================== */


.offer-container {


    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;


}



.offer-card {


    background:#111;

    padding:40px;

    border-radius:25px;


    border:1px solid rgba(212,175,55,.2);


    position:relative;


    transition:.5s;


}



.offer-card:hover {


    transform:translateY(-15px);

    box-shadow:0 20px 50px rgba(212,175,55,.2);


}



.offer-card h3 {


    font-size:30px;

    margin-bottom:20px;


}



.offer-card strong {


    font-size:45px;

    color:#D4AF37;


}



.offer-card button {


    margin-top:20px;

    padding:12px 25px;

    background:#D4AF37;

    border-radius:30px;


}



.offer-badge {


    position:absolute;

    right:20px;

    top:20px;


    background:#B91C1C;

    padding:8px 15px;

    border-radius:20px;


}









/* =====================================
   ABOUT
===================================== */


.about {


    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;


}



.image-placeholder {


    height:500px;


    background:#151515;


    border-radius:30px;


    display:flex;

    justify-content:center;

    align-items:center;


    font-size:40px;

    color:#D4AF37;


}



.about-content h2 {


    font-family:'Playfair Display';

    font-size:50px;


}



.about-content p {


    margin:25px 0;

    line-height:1.8;

    color:#ccc;


}



.features {


    display:grid;

    gap:20px;

}



.features div {


    font-size:18px;


}





/* =====================================
   FOOD CARDS
===================================== */


.food-grid {


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}



.food-card {


background:#111;

border-radius:25px;

padding:25px;

transition:.4s;


}



.food-card:hover {


transform:translateY(-15px);


}



.food-image {


height:220px;

background:#1c1c1c;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

color:#D4AF37;


}



.food-card h3 {


margin-top:20px;

font-size:25px;


}



.food-card span {


color:#D4AF37;

font-size:22px;


}








/* =====================================
   GALLERY
===================================== */


.gallery-grid {


display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;


}



.gallery-grid div {


height:250px;

background:#151515;

border-radius:20px;


display:flex;

align-items:center;

justify-content:center;


font-size:22px;


transition:.4s;


}



.gallery-grid div:hover {


transform:scale(1.05);

color:#D4AF37;


}







/* =====================================
   RESERVATION
===================================== */


.reservation {


text-align:center;

background:#111;


}



.reservation h2 {


font-family:'Playfair Display';

font-size:55px;


}



.reservation button {


margin-top:30px;

padding:16px 40px;

background:#D4AF37;

border-radius:40px;


}







/* =====================================
   CONTACT
===================================== */


.contact {


display:grid;

grid-template-columns:1fr 1fr;

gap:50px;


}



.contact h2 {


font-family:'Playfair Display';

font-size:45px;


}



.contact p {


color:#ccc;

margin-top:20px;


}








/* =====================================
   FOOTER
===================================== */


footer {


background:#050505;

padding:50px;

text-align:center;


}



footer h2 {


font-family:'Playfair Display';

color:#D4AF37;

font-size:40px;


}



.footer-links {


margin:30px;

display:flex;

justify-content:center;

gap:30px;


}



.copyright {


color:#777;

}





/* =====================================
   MOBILE
===================================== */


@media(max-width:900px){


.navbar nav {

display:none;

}



.hero h1 {

font-size:55px;

}



.hero h2 {

font-size:30px;

}



.offer-container,
.about,
.food-grid,
.contact {


grid-template-columns:1fr;


}



.gallery-grid {


grid-template-columns:1fr 1fr;


}


}
